# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.env*.local
!.env.example
